/*Pop and Lock the Stack*/
/*CSS for the homepage on the mobile screen*/

body{
	background-color: #444247;
	font-family: 'Roboto Light', sans-serif;
}

div.content{
    color: #f4f4f4;
    background-color: #444247;
    font-family: 'Roboto Light', sans-serif;
}

div.userInteraction{
	border-radius: 25px;
	border: 2px solid #49CBC1;
	background-color: #f4f4f4;
}

ul.preBox{
	border-radius: 25px;
	border: 2px solid #FFBB69;
	background-color: #FFDA8B;
}

h1, h2, h3{
	
}


/*Mobile phone CSS*/
@media screen only and (max-width: 450px){
	div.userInteraction{
		
	}
}
