/*Pop and Lock the Stack*/
/*CSS for the homepage on the mobile screen*/

/* THESE ARE OUR FONTS */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto:100,300,400,700');

/* ############################################### */
/* Default CSS section */
/* ############################################### */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #444247;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 2em;
    transition: margin-left 0.5s;
}

main {
    color: #f4f4f4;
    background-color: #444247;
    margin: 2em;
    margin-top: 0;
    padding-bottom: 0;
}

main p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-indent: 1em;
}

main hr {
    margin-left:5%;
    margin-right:5%;
    margin-top:2px;
    margin-bottom:2px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(224, 224, 224, 0), rgba(224, 224, 224, 0.75), rgba(224, 224, 224, 0));
}

main h1 {
	text-align: center;
}

main h2 {
    text-align: center;
    font-weight: 400;
}

nav ul li {
	list-style-type: none;
	padding-left: 1.5em;
}

label:hover {
	cursor: pointer;
}

.quizQuestion input {
	margin-left: 2em;
}

.submitter input {
    border-radius: 6px;
    padding: 1em;
    box-shadow: none;
    background-color: #49cbc1;
    border-color: #2c9b93;
    border: none;
    margin-bottom: 2em;
    margin-top: 1em;
    color: #f4f4f4;
}

.submitter input:hover{
    background-color: #85dcd5;
    color: #444247;
}

form input, form textarea {
	border-radius: 6px;
}

form input {
	font-size: 100%;
	padding: .5em;
}

form textarea {
	padding: 1em;
	font-size: 100%;
}

table {
	width: 100%;
	border-radius: 6px;
}

table tr th, table tr td {
	border-radius: 6px;
	padding: .75em;
}

.hide {
    display: none;
}

.qAnswr{
    display: none;
}

p a{
   color: #49cbc1;
}

p a:hover{
    color: #ffda8b;
}

p a:active{
    color: #ffbb69;
}

/* ############################################### */
/* This section is for the banner image. */
/* ############################################### */
.banner {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.banner img {
    display: block;
    width: 100%
    height: auto;
}

/* ############################################### */
/* This is for the <picture> for the title images. */
/* ############################################### */
picture.titlePicture {
    margin: 2em;
}

.titlePicture img {
    display: block;
    margin: auto;
    width: 80%;
    border: 1px;
    border-radius: 5px;
    border-color: #f4f4f4;
}

/* ############################################### */
/* START: Style of flags section. */
/* ############################################### */

main ul li {
	margin-left: 2em;
}

p.preText {
	margin-top: 1em;
	margin-bottom: 1em;
}

main > pre.preBox {
	padding: 1em;
	border-radius: 5px;
	border: 2px solid #fb981e;
	background-color: #FFDA8B;
	color: #442747;
}


/* ############################################### */
/* GENERIC NAV STUFF */
/* ############################################### */
.sideNav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    background-color: #302F33;
    transition: 0.5s ease-in-out;
}

.sideNav hr {
    margin-left:5%;
    margin-right:5%;
    margin-top:2px;
    margin-bottom:2px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(224, 224, 224, 0), rgba(224, 224, 224, 0.75), rgba(224, 224, 224, 0));
}

.sideNav input[type=checkbox]{
    position: absolute;
    opacity: 0;
}

.sideNav a, .sideNav label {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #dcdcdc;
    display: block;
    transition: 0.3s;
}

.sideNav ul {
    display: none;
    transition: display 0.5s ease-in-out;
}

.sideNav input[type=checkbox]:checked + label + ul {
    display: block;
    background-color:#1d1c1f;
    transition: background 0.5s ease-in-out;
}
.sideNav li{
    transition: background 1.5s;
}
.sideNav li:hover{
   background:#4f4e4e;
}

.sideNav input[type=checkbox]:checked + label {
    font-weight: 700;
}

.active {
	background: #4f4e4e;
}

/* ############################################### */
/* MOBILE ONLY CSS */
/* ############################################### */
@media only screen and (max-width: 450px){
    main {
	font-size: 100%;
    }
}

/* ############################################### */
/* BOTH TABLET AN MOBILE NAVIGATION */
/* ############################################### */
@media only screen and (max-width: 1024px){

    .sideNav {
	width: 0;
    }

    .sideNav .closeButton {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
    }

    #openNav {
	position: fixed;
	padding: .75em;
	background-color: #444247;
	border-top: 1px solid #f4f4f4;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	top: 5%;
	left: -3px;
	color: #f4f4f4;
	border-radius: 5px;
    }

}

/* ############################################### */
/* TABLET ONLY CSS */
/* ############################################### */
@media only screen and (min-width: 451px) and (max-width: 1024px){

    /* If you change these they need to be changed in navigation.js */
    body{
	margin-left: 10%;
	margin-right: 10%;
    }

    main {
	font-size: 110%;
    }
}

/* ############################################### */
/* DESKTOP ONLY CSS */
/* ############################################### */
@media only screen and (min-width: 1025px) {

    body{
	margin-left: 20%;
	margin-right: 20%;
    }

    main {
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 120%;
	border: 1px solid;
	border-radius: 5px;
	border-color: #f4f4f4;
    }

    /* NAV CODE BELOW */
    .sideNav {
	width: 250px;
    }

    /* Just don't show the close button on desktop. */
    .sideNav .closeButton{
	display: none;
    }

    /* Just don't show the open button on desktop. */
    #openNav {
	display: none;
    }
}

/**********************/
/*CSS for the buttons*/
/********************/
.buttonWrapper{
    height: 70px;
}

.button {
    border-radius: 6px;
    padding: 1em;
    box-shadow: none;
    background-color: #49cbc1;
    border-color: #2c9b93;
    border: none;
    margin-bottom: 2em;
    margin-top: .5em;
    color: #f4f4f4;
    text-decoration: none;
}

#previous {
    float: left;
}

#next{
    float: right;
}

.button:hover{
    background-color: #85dcd5;
    color: #444247;
}



/* ############################################### */
/* Footer style */
/* ############################################### */
footer {
	width: 100%;
	text-align: center;
	font-weight: 100;
	color: #000000;
}
