/*Pop and Lock the Stack*/
/*CSS for the homepage on the mobile screen*/

* {
    margin: 0;
    padding: 0;
}

body{
	background-color: #444247;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

main {
    color: #f4f4f4;
    background-color: #444247;
    margin: 2em;
}

main h2 {
    text-align: center;
    font-weight: 400;
}

p {
	margin-top: 2em;
	margin-bottom: 2em;
	text-indent: 1em;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: 100;
}

/* START:
 * Style of flags section.
 */
main ul li {
	list-style-type: none;
}

main ul > p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

main ul li > pre.preBox {
	padding: 1em;
	border-radius: 5px;
	border: 2px solid #FFBB69;
	background-color: #FFDA8B;
	color: #442747;
}
/*
 * END:
 * Style of flags section.
 */

main.userInteraction{
	border-radius: 25px;
	border: 2px solid #49CBC1;
	background-color: #f4f4f4;
}


/*Mobile phone CSS*/
@media screen only and (max-width: 450px){
	div.userInteraction{
		
	}
}
